*.pth


/preprocessing/sketches

/2dto3d/sketches

/seg_raw_sketches/sketches
/seg_raw_sketches/sketches_raw


/sam3/sam3
/sam3/sketches

/canno_test/sketches


/edits/test_chair

/new_models/test_result
/new_models/SyncDreamer

/new_models/flux
/new_models/flux2
/new_models/flux2_views
/new_models/output

/real_3D/TRELLIS
/real_3D/TRELLIS-image-large
/real_3D/trellis_outputs
/real_3D/views
/real_3D/pose_search_fine
/real_3D/pose_search
/real_3D/Hunyuan3D-Part
/real_3D/trellis_partfield_results


/whole_pipeline/packages/TRELLIS
/whole_pipeline/packages/TRELLIS-image-large